<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/all-chords-id.css">
  <script src="./scripts/vue.min.js"></script>
  <script type="module" src="./scripts/all-chords-id/app.js" defer></script>
  <title>All Diatonic Chords ID</title>
</head>
<body>
  <div id="app">
    <div class="supreme-container">
      <header>
        <span>Diatonic Chord Recognition</span>
        <button class="back-button" @click="backHome">&#8678; Back</button>
      </header>
      <div class="main-container">
        <div class="quiz-gui">
          <div class="quiz-scores">
            <div class="quiz-correct">Correct:&nbsp;&nbsp;<span style="color: green;">{{ numberCorrect }}</span></div>
            <div class="quiz-wrong">Errors:&nbsp;&nbsp;<span style="color: rgb(235,0,10);">{{ numberWrong }}</span></div>
          </div>
          <div class="quiz-controls">
            <button @click="newQuiz" v-bind:disabled="!correctAnswer">Next</button>
            <button @click="repeatQuiz">Repeat</button>
            <button @click="repeatIChord">I Chord</button>     
          </div>
          <div class="quiz-answers">
            <button @click="checkAnswer('ii')">ii</button>
            <button @click="checkAnswer('iii')">iii</button>
            <button @click="checkAnswer('IV')">IV</button>
            <button @click="checkAnswer('V')">V</button>
            <button @click="checkAnswer('vi')">vi</button>
            <button @click="checkAnswer('vii')">vii</button>
          </div>
        </div>
        <div class="quiz-options">
          <label for="ii-check">ii</label>
          <input type="checkbox" v-model="iiCheck" name="ii-check" id="ii-check">
          <label for="iii-check">iii</label>
          <input type="checkbox" v-model="iiiCheck" name="iii-check" id="iii-check">
          <label for="iv-check">IV</label>
          <input type="checkbox" v-model="ivCheck" name="iv-check" id="iv-check">
          <label for="v-check">V</label>
          <input type="checkbox" v-model="vCheck" name="v-check" id="v-check">
          <label for="vi-check">vi</label>
          <input type="checkbox" v-model="viCheck" name="vi-check" id="vi-check">
          <label for="vii-check">vii</label>
          <input type="checkbox" v-model="viiCheck" name="vii-check" id="vii-check">
        </div>
      </div>
    </div>      
  </div>
</body>
</html>